.serie {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
  border-radius: 12px;
  background: #222;
  transition: background 0.3s;
}

.serie.completed {
  background: #0a4; /* verde per completata */
}

.serie.pending {
  background: #a00; /* rosso per non completata */
}

.serie span {
  margin-right: 10px;
}

.countdown {
  font-weight: bold;
  color: #ff0;
  margin-left: 10px;
}
