body{
  font-family: Arial;
  margin:0; padding:0;
  background:#111;
  color:#fff;
  text-align:center;
}

header{
  background:#222; padding:15px;
  display:flex; justify-content:space-between; align-items:center;
}

.btn{
  background:#0a84ff;
  border:none;
  padding:12px;
  margin:5px;
  border-radius:12px;
  font-size:16px;
  color:#fff;
  cursor:pointer;
}

ul.list{
  list-style:none;
  padding:0;
  margin:0;
}

li{
  background:#222;
  margin:8px;
  padding:10px;
  border-radius:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

input[type=number]{
  width:60px;
  margin:0 5px;
  border-radius:6px;
  padding:5px;
}

.nomeEsercizio{
  font-weight:bold;
  margin-top:10px;
}

.serie{
  display:flex;
  align-items:center;
  margin-top:5px;
}

.completed{
  text-decoration:line-through;
}

.popup{
  position:fixed; top:50%; left:50%;
  transform:translate(-50%,-50%);
  background:#333;
  padding:20px;
  border-radius:12px;
}

.hidden{
  display:none;
}

.countdown{
  margin-left:10px;
  color:#0a84ff;
  font-weight:bold;
}
